<div class="container">
    <form *ngIf="!data" class="form-group" [formGroup]="employeeForm" (ngSubmit)="addEmployee()" autocomplete="off">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Employee Name</mat-label>
            <input matInput type="text" formControlName="full_name" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Job Title</mat-label>
            <mat-select formControlName="job_title">
                <mat-option *ngFor="let title of jobTitles" [value]="title.jobid" class="label">{{title.job_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="Salary" >
        </mat-form-field>
        

        <div class="submit">
            <button mat-raised-button color="primary" type="submit" >Submit</button>
        </div>
    </form>

    <form *ngIf="data" class="form-group" [formGroup]="employeeForm" (ngSubmit)="editEmployee()" autocomplete="off">
          
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Employee Name</mat-label>
            <input matInput type="text" formControlName="full_name" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Employee Email</mat-label>
            <input matInput type="text" formControlName="email" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Job Title</mat-label>
            <input matInput readonly="" type="text" formControlName="job_title" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Salary</mat-label>
            <input matInput type="text" formControlName="Salary" >
        </mat-form-field>
        

        <div class="submit">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>